@model IEnumerable<Cumulative_Project.Models.Teacher>
@{
    ViewBag.Title = "Teacher Lists";
}

<h2>List</h2>
<p>This page should be showing information about all teachers</p>

<div id="containerlist">
    <h2>List of Teachers</h2>
    <form action="/School/TeacherList" method="GET">
        <input type="text" name="SearchKey" autocomplete="off" />
        <input type="submit" value="Search" />
    </form>
    <h2>List of Classess</h2>
    <table>
        <thead>
            <tr>
                <th>Teacher Id</th>
                <th>Teacher Name</th>
                <th>Teacher Employee Number</th>
                <th>Hire Date</th>
                <th>Salary</th> 
            </tr>
        </thead>
        <tbody>
            @foreach (var teacher in Model)
            {
                <tr>
                    <td><a href="/Teacher/Show/@teacher.teacherId">@teacher.teacherId</a></td>
                    <td>@teacher.teacherFname @teacher.teacherLname</td>
                    <td>@teacher.teacherEmployeeNumber</td>
                    <td>@teacher.teacherHireDate</td>
                    <td>@teacher.salary</td>
                </tr>
            }
        </tbody>
    </table>
</div>
