@model IEnumerable<Cumulative_Project.Models.TeacherLecturesClass>

@{
    ViewBag.Title = "Show";
}

<div id="containershow">
    <nav>
        <a class="navlink" href="/Teacher/List">Back To Teachers</a>
    </nav>
        <table>
            <thead>
                <tr>
                    <th>Teacher Name</th>
                    <th>Teacher ID</th>
                    <th>Employee Number</th>
                    <th>Salary</th>
                    <th>ClassName</th>
                    <th>Class Code</th>
                    <th>Hire Date</th>
                    <th>Start Date</th>
                    <th>Finish Date</th>
                    <th>Delete?</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var teacher in Model)
                {
                    <tr>
                        <td>@teacher.teacherFname @teacher.teacherLname</td>
                        <td>@teacher.teacherId</td>
                        <td>@teacher.teacherEmployeeNumber</td>
                        <td>@teacher.salary</td>
                        <td>@teacher.classname</td>
                        <td>@teacher.classcode</td>
                        <td>@teacher.hiredate</td>
                        <td>@teacher.startdate</td>
                        <td>@teacher.finishdate</td>
                        <td><a href="/Teacher/DeleteConfirm/@teacher.teacherId">Delete</a></td>
                    </tr>
                }
            </tbody>
        </table>
</div>

