@model IEnumerable<Cumulative_Project.Models.TeacherLecturesClass>

@{
    ViewBag.Title = "Show";
}

<div id="containershow">
    <nav>
        <a class="navlink" href="/Teacher/List">Back To Teachers</a>
    </nav>
        <table>
            <thead>
                <tr>
                    <th>Teacher Name</th>
                    <th>Teacher ID</th>
                    <th>Employee Number</th>
                    <th>Salary</th>
                    <th>ClassName</th>
                    <th>Class Code</th>
                    <th>Hire Date</th>
                    <th>Start Date</th>
                    <th>Finish Date</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var teacher in Model)
                    {
                    <tr>
                        <td>@(string.IsNullOrWhiteSpace(teacher.teacherFname) ? "-" : $"{teacher.teacherFname} {teacher.teacherLname}")</td>
                        <td>@(teacher.teacherId)</td>
                        <td>@(string.IsNullOrWhiteSpace(teacher.teacherEmployeeNumber) ? "-" : teacher.teacherEmployeeNumber)</td>
                        <td>@(teacher.salary > 0 ? teacher.salary.ToString() : "-")</td>
                        <td>@(string.IsNullOrWhiteSpace(teacher.classname) ? "-" : teacher.classname)</td>
                        <td>@(string.IsNullOrWhiteSpace(teacher.classcode) ? "-" : teacher.classcode)</td>
                        <td>@(string.IsNullOrWhiteSpace(teacher.hiredate) ? "-" : teacher.hiredate)</td>
                        <td>@(string.IsNullOrWhiteSpace(teacher.startdate) ? "-" : teacher.startdate)</td>
                        <td>@(string.IsNullOrWhiteSpace(teacher.finishdate) ? "-" : teacher.finishdate)</td>
                    </tr>
                }
            </tbody>
        </table>
</div>
